@charset "utf-8";
.wrap{min-height:100vh;text-align:center;}

.title{position:relative;z-index:0;display:flex;flex-direction:column;align-items:flex-start;justify-content:space-between;height:80vh;padding:30rem 4vw 5rem;overflow:hidden;}
.title *{color:#fff;font-size:1.7rem;}
.title > div:first-child{position:absolute;z-index:0;bottom:0;left:0;filter:brightness(0.6);opacity:0.7;}
.title h2{position:relative;z-index:1;mix-blend-mode:overlay;}
.title h2 > span{font-size:10rem;line-height:9rem;font-weight:500;clip-path:polygon(0 0, 115% 0, 115% 115%, 0% 115%);}
.title h2 span div{font-size:inherit;line-height:inherit;font-weight:inherit;}
.title p{line-height:2.5rem;}
.title dl{margin-bottom:5rem;line-height:2.5rem;}
.title dt{float:left;min-width:80px;color:#ddd;font-weight:300;}
.title dd{white-space:pre;}
.title dd > div{display:inline-block;}
.title dd > div::before{content:'·';margin:0 .7rem;}
.title dd > div:first-child::before{display:none;}
.title_info{position:relative;z-index:1;display:flex;gap:2rem;justify-content:space-between;padding:0 5rem;text-align:left;}
.title_info > div:nth-child(1){flex:0 1 40%;}
.title_info > div:nth-child(2){flex:0 1 60%;align-self:flex-end;}
.title_info > div:nth-child(2) p{letter-spacing:-0.1rem;}

.info{display:flex;justify-content:space-between;gap:2rem;padding:10rem 12vw;text-align:left;}
.info *{font-size:1.8rem;}
.info > div{flex:0 1 35%;}
.info > div:has(img){flex:0 1 65%;}
.info h4{padding-bottom:1rem;margin-bottom:1rem;border-bottom:1px solid #aaa;font-size:1.8rem;font-weight:normal;}
.info li{margin-bottom:5rem;line-height:2.9rem;}
.info li:last-child{margin-bottom:0;}
.info li:last-child p{margin-bottom:2rem;}
.info p{margin-left:.5rem;letter-spacing:-0.15rem;word-spacing:0.15rem;color:#555;}

.screen{position:relative;display:flex;padding:10rem 0 35rem;flex-wrap:wrap;align-items:center;gap:10rem;justify-content:space-around;background:#fff;}
.screen img{display:inline-block;max-width:70rem;}