@charset "utf-8";
.wrap{position:fixed;z-index:9999;display:flex;justify-content:space-between;align-items:center;width:100%;padding:0 3.5rem;background-color:transparent;transition:transform 0.3s ease, opacity 0.3s ease;}
.visible {transform:translateY(0);opacity:1;}
.hidden {transform:translateY(-100%);opacity:0;}
.wrap *{font-size:1.7rem;font-weight:300;color:#fff;}
.wrap div,
.wrap ul{display:flex;gap:2rem;align-items:center;}
.wrap ul *{color:inherit;}
.wrap li{padding:1rem;font-size:1.7rem;cursor:pointer;}
.wrap li:has(p){position:relative;}
.wrap li p{position:absolute;top:4.5rem;left:-10px;padding:.7rem 1rem;border:1px dashed #ff7700;background-color:#ffffffc9;border-radius:10px;font-size:1.5rem;font-weight:400;line-height:1;white-space:pre;color:#ff7700;transition:.3s;opacity:0;}
.wrap > p{letter-spacing:normal;word-spacing:0.2rem;}
.mail span{font-size:0;}

@media screen and (max-width: 767px) { /* Mobile */
}

@media all and (min-width: 768px) and (max-width: 1024px) { /* Tablet  */
}

@media all and (max-width: 1024px) { /* Mobile & Tablet  */
}